<div class="uk-grid rg-margin-left rg-payment-form uk-padding-remove uk-margin-remove">

  <% if @current_account.errors.empty? %>
    <div class="uk-width-large-1-6"></div>
  <% end %>
  
  <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-2-3">
    <div class="rg-heading">
      <h2 class='uk-visible-small'>Account Profile</h2>
      <h1 class='uk-hidden-small'>Account Profile</h1>
    </div>
    <%= form_for( @current_account, :as => :current_account, :url => { :action => :current_account_update },
      :html => { :class => 'uk-form rg-form', :name => 'account_form', :id => 'account_form' }) do |f| %>

      <%= render :partial => 'account_form', :locals => { :f => f } %>
      <br/>
      <div class="uk-form-row">
        <%= button_tag('Update', :class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' }) %>
      </div>
      <div class="uk-form-row">
        <%= link_to 'Update Payment Method', :action => 'payment_method_edit' %>
      </div>
    <% end %>
  </div>
  
  <% unless @current_account.errors.empty? %>
    <div class="uk-width-small-1-1 uk-width-large-1-3">
      <div class="rg-transparent-bg error-messages">
        <%= error_messages_for :current_account %>
      </div>
    </div>
  <% end %>
  
</div>
