<div id="<%= "accept_invite_#{party.id}" %>" class="uk-modal">
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h2 class="inline-block">Accept invitation to <b><%= party.name %></b> from <%= party.host_account.login %></h2>
      <a class="uk-modal-close uk-close"></a>
    </div>
    
    <p>
      <b>WARNING:</b> By accepting this invitation, the 
      devices you select below will be placed into the 
      private network of the account shown, allowing direct
      access and sharing of resources with another account.
      Do not accept an invitation from someone you do not 
      know and trust.
    </p>

    <p>
      <%= form_tag :action => :accept_lan_party_invitation, id: party.id do %>
        <% available_devices = @current_account_or_token.devices.where(Device.arel_table[:lan_party_id].eq(nil).or(Device.arel_table[:lan_party_id].not_eq(party.id))) %>
        <% available_devices.each do |device| %>
          <label><%= check_box_tag "device_ids[]", device.id, party.devices.include?(device) %> <%= [device.name, device.mac].uniq.join(' ') %></label><br>
        <% end %>
        <% if available_devices.exists? %>
          <div class="center-align">
            <%= submit_tag "Accept", 
              :class => 'uk-button rg-button rg-button-inline small-min-width uk-width-1-1 uk-width-medium-1-2',
              :disabled => party.host_account.party_device_limit_reached? %>
          </div>
        <% else %>
          <p>No available devices.</p>
        <% end %>
      <% end %>
    </p>
    
    <div class="uk-modal-footer">
      <button class="uk-modal-close rg-button">Cancel</button>
    </div>
  </div>
</div>