<div id="invite_lan_party_<%= party.id %>" class="uk-modal">
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h2 class="inline-block">Invite a friend to your LAN Party</h2>
      <a class="uk-modal-close uk-close"></a>
    </div>
    
    <h3>Name: <%= party.name %></h3>
    <p>
      <b>WARNING:</b> By inviting other users to join your 
      network, you are allowing another person direct access 
      to your devices. Up-to-date Anti-virus and firewalls 
      are recommended to protect your devices.  Only invite 
      users you trust to join your LAN Party.
    </p>

    <p>
      <b>Note:</b> The user you invite must already have an  
      existing account in order to receive your LAN Party
      invitation.
    </p>

    <%= form_tag({action: :invite_lan_party, id: party.id}, {:class => 'uk-form'}) do %>
      Invite a user by email: <br>
      <%= text_field_tag :email, nil, { :class => 'uk-width-1-1 uk-width-medium-1-2', placeholder: 'Email...'} %>
      <%= text_area_tag :invitation_text, nil, { :class => 'uk-width-1-1 uk-width-medium-1-2', placeholder: 'Invitation message (optional)...'} %>
      <%= submit_tag 'Send Invite', { :class => 'uk-button rg-button small-min-width uk-width-1-2'} %>
    <% end %> 

    <% if party.password.present? %>
      <p>
        This LAN Party may also be joined by entering the 
        password shown below.  You may update the password or 
        remove it to allow only accounts you explicitly invite.
      </p>
    <% else %>
      <p>
        Password-based access to this LAN party is currently disabled.  You may 
        enable it by setting a password below. When a password is set, any 
        registered user may enter this LAN party by entering the password. 
        Choose a complex password to protect your devices.
      </p>
    <% end %>

    <%= form_for(party, url: {action: :update_lan_party, id: party.id}, :html => {:class => 'uk-form'}) do |f| %>
      <%= text_field_tag 'lan_party[password]', party.password_was, { :class => 'uk-width-1-1 uk-width-medium-1-2', placeholder: 'Password...'} %>
      <%= submit_tag 'Update', { :class => 'uk-button rg-button rg-button-inline small-min-width uk-width-1-1 uk-width-medium-1-3'} %>
    <% end %> 

    
    <div class="uk-modal-footer">
      <button class="uk-modal-close rg-button">Cancel</button>
    </div>
  </div>
</div>
