
<%= form_for(lan_party, 
  html: {:class => 'uk-form'}, 
  url: { :action => lan_party.persisted? ? :update_lan_party : :create_lan_party, :id => lan_party.id }) do |f| %>

  <% expires_at_field_id = lan_party.persisted? ? "lan_party_#{lan_party.id}_expires_at" : 'new_lan_party_expires_at' %>
  <% no_expiration_field_id = lan_party.persisted? ? "lan_party_#{lan_party.id}_no_expiration" : 'new_lan_party_no_expiration' %>
  <h4>Party Details</h4>
  <div class="uk-form-row">
    <div class="<%= 'field_with_errors' if lan_party.errors.keys.include? :name %>">
      <%= f.text_field :name, :placeholder => 'Party Name', :class => 'uk-width-1-1' %>
    </div>
  </div>

  <div class="uk-form-row">
    <div class="<%= 'field_with_errors' if lan_party.errors.keys.include? :description %>">
      <%= f.text_area :description, :placeholder => 'Description (optional)', :class => 'uk-width-1-1' %>
    </div>
  </div>

  <div class="uk-form-row">
    <div class="<%= 'field_with_errors' if lan_party.errors.keys.include? :password && lan_party.errors[:password].any? %>">
      <%= f.text_field :password, :placeholder => 'Password (optional, 8 char min, case-sensitive)', :class => 'uk-width-1-1' %>
    </div>
  </div>


  <h4>Expiration</h4>
  <div class="uk-form-row">

    <div class="<%= 'field_with_errors' if lan_party.errors.keys.include? :expires_at %>">
      <%= f.text_field :expires_at, :placeholder => 'Expiration', :class => 'uk-width-1-1', :id => expires_at_field_id %>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#<%= expires_at_field_id %>').datetimepicker({
          date: '<%= lan_party.no_expiration? ? '' : ( lan_party.expires_at || Time.now.advance(hours: 1) ).iso8601 %>',
          format: "D/M/YYYY, h:mm a",
          // use the UI Kit icons to avoid having to add bootstrap glyphicon fonts
          icons: {
            time: "uk-icon-clock-o",
            date: "uk-icon-calendar",
            up: "uk-icon-arrow-circle-up",
            down: "uk-icon-arrow-circle-down",
            previous: "uk-icon-arrow-circle-left",
            next: "uk-icon-arrow-circle-right",
            today: 'uk-icon-caret-square-o-down',
            clear: 'uk-icon-calendar-times-o',
            close: 'uk-icon-close'
          },
          showTodayButton: true,
          keepOpen: true
        }).on('dp.change', function(e){
          // clear the no expiration checkbox if the user selected a date
          if (e.date != false) {
            $("#<%= no_expiration_field_id %>").prop( "checked", false );
          }
        });
      });
    </script>
  </div>

  <div class="uk-form-row">
    <div class="<%= 'field_with_errors' if lan_party.errors.keys.include? :no_expiration %>">
      <label><%= f.check_box :no_expiration, :class => 'uk-width-1-1', :id => no_expiration_field_id %> No expiration (remain active until deleted)</label>
      <script>
        $(function() {
          // clear the datetime picker if the user checks the no expiration checkbox
          $("#<%= no_expiration_field_id %>").change(function(){
            var isChecked = $(this).is(":checked");
            if (isChecked) {
              $("#<%= expires_at_field_id %>").data("DateTimePicker").clear();    
            }
          })

        })
      </script>
    </div>
  </div>

  <div class="uk-form-row center-align">
    <%= f.submit f.object.persisted? ? 'Update LAN Party' : 'Create LAN Party', :class => 'uk-width-1-1 rg-button rg-button-inline' %>
  </div>
<% end %>