
<% if @current_account_or_token.permits_port_forwards? %>
  <div class='rg-heading'>
    <h2 class='uk-visible-small'>Port Forwarding</h2>
    <h1 class='uk-hidden-small'>Port Forwarding</h1>
  </div>

  <div class="uk-grid rg-transparent-bg rg-margin-left rg-payment-form uk-padding-remove uk-margin-remove">
    <div class="uk-width-1-1">

      <p>
        Currently assigned public IP: <b><%= @current_account.nat_assignments.first.try(:nat_ip) || 'Unknown' %></b>
      </p>

      <% if @current_account_or_token.is_virtual_gateway? %>

        <h3>Manual Port Forwards</h3>

        <div class="uk-grid uk-grid-small uk-hidden-small">
          <div class="uk-width-1-1 uk-width-medium-4-5">
            <div class="uk-grid uk-grid-small thead">
              <div class="uk-width-1-1 uk-width-medium-1-4">Name</div>
              <div class="uk-width-1-1 uk-width-medium-2-4">
                <div class="uk-grid uk-grid-small">
                  <div class="uk-width-1-1 uk-width-medium-1-3">External Port</div>
                  <div class="uk-width-1-1 uk-width-medium-1-3">Internal Port</div>
                  <div class="uk-width-1-1 uk-width-medium-1-3">Protocol</div>
                </div>
              </div>
              <div class="uk-width-1-1 uk-width-medium-1-4">Device</div>
            </div>
          </div>
        </div>
        
        <% @device_port_forwards.reject(&:upnp?).each do |pf| %>
          <%= render :partial => 'device_port_forwards_form', :locals => {:pf => pf} %>
        <% end %>
        <% if @device_port_forwards.any? %>
          <hr>
        <% end %>
        
        <%= render :partial => 'device_port_forwards_form', 
                   :locals => { :pf => DevicePortForward.new(account: @current_account_or_token) } %>
        
        <hr>

      <% end %>

      <% if @current_account_or_token.upnp_permitted? %>

        <h3>UPnP</h3>
        
        <p>
          Enabling UPnP allows devices registered to your account to automatically
          request port forwarding rules as needed in order to allow inbound 
          connectivity from the Internet.  This feature is required for some
          gaming systems in order to achieve "Open NAT" or "Type 2 NAT", which 
          improves game match-making, chat, and hosting abilities.
        </p>
        
        <%= form_for(@current_account_or_token, :as => :current_account, :url => { :action => :current_account_update },
          :html => { :style => 'display: inline;', :name => 'upnp', :id => 'upnp' }) do |f| %>
          <b>UPnP Enabled</b>&nbsp;
          <%= f.check_box 'upnp_enabled' %>
          <%= f.submit 'Save', { :style => 'display: none', 
                :class => 'uk-button rg-button rg-button-inline no-min-width' } %>
        <% end %>

        <h3>UPnP Port Forwards</h3>

        <% if @device_port_forwards.select(&:upnp?).any? %>
          <div class="uk-grid uk-grid-small uk-hidden-small">
            <div class="uk-width-1-1 uk-width-medium-4-5">
              <div class="uk-grid uk-grid-small thead">
                <div class="uk-width-1-1 uk-width-medium-1-4">Name</div>
                <div class="uk-width-1-1 uk-width-medium-2-4">
                  <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-1 uk-width-medium-1-3">External Port</div>
                    <div class="uk-width-1-1 uk-width-medium-1-3">Internal Port</div>
                    <div class="uk-width-1-1 uk-width-medium-1-3">Protocol</div>
                  </div>
                </div>
                <div class="uk-width-1-1 uk-width-medium-1-4">Device</div>
              </div>
            </div>
          </div>
          
          <% @device_port_forwards.select(&:upnp?).each do |pf| %>
            <%= render :partial => 'device_port_forwards_form', :locals => {:pf => pf} %>
          <% end %>
        <% else %>
          No active UPnP port forwarding rules
        <% end %>
        <hr>

        <% @current_account_or_token.device_port_forwards.where.not(device: nil).each do |dpf| %>
          <% params[:dpf_id] = dpf.id %>
          <%= render_dashboard_dialogs(:port_forward_summary) %>
        <% end %>

      <% end %>
    
    </div>
  </div>
<% elsif @usage_plans.select{|p| p.permits_port_forwards?}.any? %>
    <p>Your account does not support UPnP or managing port forwarding.</p>
    <p>Visit the <%= link_to 'usage plans', {action: :usage_plan_list} %> page to upgrade your plan.</p>
<% end %>


<script>
  $(function(){
    console.log('called');
    $('#current_account_upnp_enabled').on('change', function(e){
      console.log('toggled');
      $(this).next('input[type="submit"]').show();
    })
  })
</script>