<%= form_tag({:action => :reset_password}, {:id => 'reset_password', :class => 'uk-form rg-form'}) do %>
  <%= hidden_field_tag 'login', @account.login %>
  <fieldset data-uk-margin>
    <legend><%= @account.login %></legend>
    <div class="uk-form-row">
      <%= @secret_question.question %>
    </div>
    <div class="uk-form-row">
      <%= text_field_tag 'secret_answer', params[:secret_answer], :placeholder => 'enter answer...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= password_field_tag 'password', '', :placeholder => 'new password...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= password_field_tag 'password_confirmation', '', :placeholder => 'confirm password...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= button_tag('Reset', :class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' }) %>
    </div>
  </fieldset>
<% end %>