<%= form_tag({:action => :reset_password}, {:id => 'reset_password_sms', :class => 'uk-form rg-form'}) do %>
  <%= hidden_field_tag 'login', @account.login %>
  <fieldset data-uk-margin>
    <legend style="text-transform: lowercase;"><%= @account.login %></legend>
    <div class="uk-form-row">
      <p>A verification code was sent to you by 
        <%= 'SMS' if @captive_portal.password_reset_method =~ /sms/ && @account.phone_validation_code.present? %>
        <%= 'and' if @captive_portal.password_reset_method =~ /and|or/ && @account.phone_validation_code.present? %>
        <%= 'Email' if @captive_portal.password_reset_method =~ /email/ && @account.email_validation_code.present? %>.
        Please enter it below to complete your password reset.
      </p>
    </div>
    <div class="uk-form-row">
      <%= text_field_tag 'validation_code', params[:validation_code], :placeholder => 'enter code...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= password_field_tag 'password', '', :placeholder => 'new password...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= password_field_tag 'password_confirmation', '', :placeholder => 'confirm password...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= button_tag('Reset', :class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' }) %>
    </div>
  </fieldset>
<% end %>