<%= form_tag({:action => "#{omniauth_strategy.provider_type}_login"}, {:id => "#{omniauth_strategy.provider_type}_login", :class => 'uk-form rg-form center-align'}) do %>

  <% if @effective_portal && 
    ( @omniauth_strategy = @effective_portal.omniauth_strategy(omniauth_strategy.provider_type.to_sym) ) && 
    # list non-free usage plans tied to this strategy.
    ( @omniauth_strategy.usage_plans.reject(&:price_free?).any? ) %>

    <!-- list of available plans -->
    <fieldset data-uk-margin style="text-align: left">
      <legend>usage plans</legend>
      <% @omniauth_strategy.usage_plans.sort_by(&:price).each do |usage_plan| %>
        <div class="uk-form-row">
          <%= radio_button_tag(:usage_plan_id, usage_plan.id) %>&nbsp;&nbsp;<label for="usage_plan_id_<%=usage_plan.id.to_s%>"><%= h(usage_plan.name) %></label>
          <span class="uk-float-right"><%= h(usage_plan.price_display) %></span>
        </div>
      <% end %>
    </fieldset>

  <% end %>

  <%= render :partial => 'survey_questions_fields' %>
  <%= render :partial => 'terms_checkbox' %>
  <%= button_tag(@omniauth_strategy.signup_button_text, { :class => @omniauth_strategy.button_class } ) %>
<% end %>
