<div class="uk-grid rg-transparent-bg rg-margin-left rg-payment-form uk-padding-remove uk-margin-remove">
  <div class="uk-width-1-1">
    <%= link_to( {:action => :account_info} ) do %>
      <% if profile_image_uri = @current_account_or_token.omniauth_profiles.first.try(:profile_image_uri) %>
        <%= image_tag profile_image_uri, {:class => 'tile-icon'} %>
      <% else %>
        <%= portal_inline_svg 'profile.svg', {:class => 'tile-icon'} %>
      <% end %>
    <% end %>
    <h3 class="uk-margin-top-remove uk-padding-top-remove">Profile</h3>
    
    <p>
      <b>Login:</b>
      <span><%= @current_account_or_token.login %></span>
    </p>
    <p>
      <b>Name:</b>
      <span><%= @current_account_or_token.full_name %></span>
    </p>
    <% unless @current_account_or_token.full_address.empty? %>
      <p>
        <b>Address:</b>
        <span><%= @current_account_or_token.full_address %></span>
      </p>
    <% end %>
    <% if @account.secret_answers.empty? %>
      <p>
        <b class="uk-text-warning">Warning:</b> Your account does not have a password recovery question/answer defined.
      </p>
    <% end %>
    <p>
      <%= link_to 'Manage Profile', {:action => :account_info}, {:class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' } } %>
    </p>
  </div>
</div>