<table class="rg-transparent-bg uk-width-1-1">
  <tr>
    <th>Name</th>
    <td><%= h(usage_plan.name) %></td>
  </tr>

  <% unless usage_plan.description.blank? %>
    <tr>
      <th valign="top">Description</th>
      <td>
        <%= usage_plan.description.html_safe %>
        <% if usage_plan.time_plan && !usage_plan.time_plan.description.blank? %>
          <%= usage_plan.time_plan.description.html_safe %>
        <% end %>
        <% if usage_plan.quota_plan && !usage_plan.quota_plan.description.blank? %>
          <br />
          <%= usage_plan.quota_plan.description.html_safe %>
        <% end %>
        <% usage_plan.plan_addons.of_component_type(:misc).each do |plan_addon| %>
          <% unless misc_plan.description.blank?%>
          <br />
          <%= misc_plan.description.html_safe %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th>Price</th>
    <td>
      <%= h(usage_plan.price_display) %>
    </td>
  </tr>
  
  <!--
  -->
  <% if usage_plan.account_group && usage_plan.account_group.policy %>
    <% usage_plan.account_group.policy.bandwidth_queues.each do |queue| -%>
      <% if queue.net_apps.empty? && queue.wan_targets.empty? %>
        <tr>
          <th>Speed</th>
          <td>
            <%= queue.bandwidth %>
            <!--
            <br/>            
            (Up to <%= (queue.download_bw_bits / (50 * 1000)).to_i %></strong>x faster than dialup).
              -->
          </td>
        </tr>
        <% break %>        
      <% end %>
    <% end %>
  <% end %>

  
  <% if usage_plan.time_plan && !usage_plan.time_plan.unlimited_usage_minutes?%>
  <tr>
    <th>Time</th>
    <td>
      <%= pluralize(usage_plan.time_plan.usage_time, usage_plan.time_plan.usage_time_unit) %>
      <% if usage_plan.time_plan.rollover_usage_minutes %>
        : existing time is rolled-over.
      <% end %>
    </td>
  </tr>
  <% end %>
  
  <% if usage_plan.quota_plan && !usage_plan.quota_plan.unlimited_usage_mb_up? && !usage_plan.quota_plan.unlimited_usage_mb_down? %>
  <tr>
    <th>Quota</th>
    <td>
      <%= number_to_human_size(usage_plan.quota_plan.usage_bytes_down.to_i) %>
      download,
      <%= number_to_human_size(usage_plan.quota_plan.usage_bytes_up.to_i) %>
      upload
      <% if usage_plan.quota_plan.rollover_usage_mb %>
        : existing quota is rolled-over.
      <% end %>
    </td>
  </tr>
  <% end %>
  
  <tr>
    <th>Expires</th>
    <td>
      <% if usage_plan.unlimited_usage_lifetime? %>
        usage never expires
      <% elsif usage_plan.no_usage_lifetime? %>
        maintain existing usage expiration
      <% elsif usage_plan.absolute_usage_lifetime %>
        <%= l(usage_plan.absolute_usage_lifetime) %>
      <% elsif usage_plan.usage_lifetime_time %>
        <%= pluralize(usage_plan.usage_lifetime_time, usage_plan.usage_lifetime_time_unit.singularize) %> after payment.
      <% end %>
    </td>
  </tr>

  <% if usage_plan.is_recurring? && !usage_plan.price_free? %>
  <tr>
    <th>Payment</th>
    <td>
      Charged once immediately and billed
      <%= usage_plan.recurring_method %> to selected method of payment.      
    </td>
  </tr>
  <% end %>

  <% if usage_plan.requires_account_validation? %>
    <tr>
      <th>Valdation</th>
      <td>
        Requires account validation by <%= UsagePlan::VALIDATION_METHODS.inverse[usage_plan.validation_method] %>.
      </td>
    </tr>
  <% end %>
  
  <!--
  <tr>
    <th>Recurring</th>
    <td>
      <%= usage_plan.recurring_method %>
    </td>
  </tr>   
  --> 
  
</table>
