<div class="rg-heading">
  <h2 class='uk-visible-small'>Network Reports 
    <% if @device %>
      - <%= @device.display_name %>
    <% end %>
    <a href='#graphTimeModal' id="dialog_config_button"  data-uk-modal><%= portal_image_tag('dialog_config.svg') %></a>
  </h2>
  <h1 class='uk-hidden-small'>Network Reports 
    <% if @device %>
      - <%= @device.display_name %>
    <% end %>
    <a href='#graphTimeModal' id="dialog_config_button"  data-uk-modal><%= portal_image_tag('dialog_config.svg') %></a>
  </h1>
</div>

<% unless @current_account_or_token.unlimited_usage_minutes? && 
          @current_account_or_token.unlimited_usage_mb_down? && 
          @current_account_or_token.unlimited_usage_mb_up? && 
          @current_account_or_token.no_usage_expiration? %>
  <%= render_dashboard_dialogs(:account_usage_summary) %>
<% end %>

<div class="uk-grid uk-grid-small">
  <div class="uk-width-1-1 uk-width-medium-1-2"><%= render_dashboard_dialogs(:data_usage_summary) %></div>
  <div class="uk-width-1-1 uk-width-medium-1-2"><%= render_dashboard_dialogs(:pf_states_summary) %></div>
</div>

<%= render_dashboard_dialogs(:traffic_by_destination) %>
<%= render_dashboard_dialogs(:application_usage) %>
<% if @current_account_or_token.triggered_event_logs.any? %>
  <%= render_dashboard_dialogs(:event_triggers) %>
<% end %>

<%= render :partial => dialog_partial_path('dashboard_graph_time_modal') %>

<div class="uk-width-1-1">
  
  <% 

  [ 
    NetworkGraph.new(
      name: "Weekly Traffic",
      # Display a plot for each Device's MAC address if the Account has more
      # than one.
      graphables: @account_or_device_graphables,
      graph_time: @graph_time || GraphTime.new(past_time: 7, past_time_unit: 'days'),
      grouped_by: 'second',
      unit: 'bits'
    ),
    NetworkGraph.new(
      name: "Hourly Utilization",
      graphables: @account_or_device_graphables,
      graph_time: @graph_time || GraphTime.new(past_time: 24, past_time_unit: 'hours'),
      grouped_by: 'hour',
      unit: 'bytes'
    ),
    NetworkGraph.new(
      name: "Daily Utilization",
      graphables: @account_or_device_graphables,
      graph_time: @graph_time || GraphTime.new(past_time: 7, past_time_unit: 'days'),
      grouped_by: 'day',
      unit: 'bytes'
    ),
    SystemGraph.new(
      name: "Daily Logins",
      graphables: [ @current_account_or_token ],
      graph_time: @graph_time || GraphTime.new(past_time: 7, past_time_unit: 'days'),
      target: 'logins',
      grouped_by: 'day'
    ),
    SystemGraph.new(
      name: "Connections",
      graphables: [ @current_account_or_token ],
      graph_time: @graph_time || GraphTime.new(past_time: 24, past_time_unit: 'hours'),
      target: 'states',
      grouped_by: 'minute'
    )
  ].each do |graph| %>
    <% next if graph.graphables.blank? %>
    <% graph.grouped_by = 'hour_of_day' if (graph.grouped_by.in?(['minute', 'hour']) && graph.graph_time.duration >= 1.week) %>
    
    <div class="uk-width-medium-1-1 uk-width-large-1-1 portal-graphs-container">
    
      <%= render :partial => 'shared/graph', :object => graph.set_tunables(
        { :height => 410, range_selector: false, border: false }
      ) %>
      
    </div>
    
  <% end %>
    
</div>

<% ( @device ? @device.device_port_forwards : @current_account_or_token.device_port_forwards.where.not(device: nil) ).each do |dpf| %>
  <% params[:dpf_id] = dpf.id %>
  <%= render_dashboard_dialogs(:port_forward_summary) %>
<% end %>
